<div class="manage-customer">
  <h1 mat-dialog-title>{{ data ? "Edit" : "Add" }} Customer</h1>

  <div mat-dialog-content>
    <mat-progress-bar
      class="manage-customer__progress-bar"
      [mode]="isSubmitting ? 'indeterminate' : 'determinate'"
      value="100"
    ></mat-progress-bar>

    <form class="manage-customer__form" [formGroup]="form">
      <mat-form-field class="manage-customer__ctrl">
        <mat-label>Full name*</mat-label>
        <input matInput [formControlName]="FULLNAME_CTRL_NAME" />
      </mat-form-field>

      <mat-form-field class="manage-customer__ctrl">
        <mat-label>Email*</mat-label>
        <input matInput [formControlName]="EMAIL_CTRL_NAME" />
      </mat-form-field>

      <app-address-form [address]="address"></app-address-form>
    </form>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button
      mat-raised-button
      [disabled]="isSubmitting"
      color="primary"
      (click)="onSubmit()"
    >
      {{ data ? "Edit" : "Add" }}
    </button>
  </div>
</div>
